In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv('cleaned_taxi_data1.csv')

In [5]:
dfm = df[['trip_distance','time_difference','drivers_pay']]

In [6]:
dfm.head()

   trip_distance  time_difference  drivers_pay
0            1.5            400.0         8.65
1            2.6           1152.0        15.00
2            1.3            429.0         7.75
3            3.7            818.0        17.20
4            2.1            720.0        11.70

In [27]:
X = dfm[['trip_distance','time_difference']]
Y = dfm[['drivers_pay']]

In [28]:
X.head()

   trip_distance  time_difference
0            1.5            400.0
1            2.6           1152.0
2            1.3            429.0
3            3.7            818.0
4            2.1            720.0

In [29]:
Y.head()

   drivers_pay
0         8.65
1        15.00
2         7.75
3        17.20
4        11.70

In [31]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 1)

In [35]:
regr = LinearRegression()

In [36]:
regr.fit(X_train,Y_train)

LinearRegression()

In [37]:
Y_hat = regr.predict(X_test)

In [39]:
print('Coefficients: \n', regr.coef_)
print('Mean squared error: %.2f'
      % mean_squared_error(Y_test, Y_hat))

Coefficients:
 [[3.05565197e+00 4.14695269e-05]]
Mean squared error: 170273.82